# アクセサ

アクセサとは、オブジェクト指向プログラミング用語で、メンバ変数にアクセスできるように用意されたメソッドであり、メンバ変数のように利用できる。

    文字列アクセサ
    時刻アクセサ
    スタイルアクセサ

## 第3編 スタイルアクセサ style

In [6]:
import pandas as pd
import numpy as np
from pandas import DataFrame as DF

In [10]:
np.random.seed(2)
d = DF(np.random.rand(3,4), columns = ['a', 'b', 'c', 'd'])
#d.ix[1,2] = np.nan  #AttributeError: 'DataFrame' object has no attribute 'ix'
d.iloc[1,2] = np.nan #used iloc instead of ix
d

          a         b         c         d
0  0.435995  0.025926  0.549662  0.435322
1  0.420368  0.330335       NaN  0.619271
2  0.299655  0.266827  0.621134  0.529142

#### highlight_null　で欠損値を確認する

In [13]:
d.style.highlight_null()

#### highlight_max　で最大値を確認する

In [17]:
d.style.highlight_max()  #各列

In [18]:
d.style.highlight_max(axis =1)  #各行

In [19]:
d.style.highlight_min()

#### applymap で**セル**のスタイルを指定する。0.3以下のセルを太字にする
セル

In [22]:
#d.style.applymap(lambda s: 'font-weight: bold' if s < 0.3)  #SyntaxError: invalid syntax;  else '' が必要だった
d.style.applymap(lambda s: 'font-weight: bold' if s < 0.3 else '')

#### apply で列に対してセルのスタイルを指定する。0.3以下のセルを太字にする  →日本語の意味がわからない
列

In [31]:
d['b']

0    0.025926
1    0.330335
2    0.266827
Name: b, dtype: float64

In [33]:
d.style.apply(lambda s: ['font-weight: bold' if c < 0.3 else '' for c in s])