# pandas(PANel DAta System)
データ分析を支援するためのパッケージ

#### データの持ち方：　DataFrame　と　Series

In [33]:
#シリーズ作成
import pandas as pd
import numpy as np

s_list = pd.Series(['A', 'B'])
s_dict = pd.Series({0:'A', 1: 'B'})

print('s_list:\n', s_list)
print('s_dict:\n', s_dict)

s_list:
 0    A
1    B
dtype: object
s_dict:
 0    A
1    B
dtype: object

In [9]:
#データフレーム作成
#リストでは一人の情報まとめて入力；　追加ユーザー情報入れるとき
#辞書では、情報種類ごとにまとめて入力できる；例えば、新たに趣味の欄を追加するとか

d_list = pd.DataFrame([('Alice', 20), ('Bob',24)], columns=['name', 'age'])
d_dict = pd.DataFrame({'name': ['Alice', 'Bob'], 'age': [20,24]})
print('d_list:\n', d_list)
print('d_dict:\n', d_dict)

d_list:
     name  age
0  Alice   20
1    Bob   24
d_dict:
     name  age
0  Alice   20
1    Bob   24

#### 属性とメソッド（データフレーム）

* 列名
* []　Numpyに準じる
* 演算　シリーズ同士の演算
* T　転置したものを返す
* abs　絶対値を返す
* append　他のデータフレームとつなげる
* apply　各列ごとに関数を適用
* boxplot　箱ひげ図
* columns 列
* copy　複製
* corr　**相関係数を返す**
* count　要素数
* cov　共分散
* describe　サマリー
* drop　指定されたものを削除
* dropna　nanが含まれる**行**を削除
* dtypes　型を返す
* fillna　欠損値をしてした値で埋める
* groupby　指定された列でグループする
* head　先頭表示
* hist　ヒストグラムを表示
* index　インデックス
* insert　**列**を追加する
* irow　行を返す
* iteritems　列のジェネレーター
* iterrows　行のジェネレーター
* ix　行や列で指定したものを取得や設定
* join　列を追加したものを返す
* max(min)　最大最小値を返す
* mean　平均を返す
* median　メディアンを返す
* pivot　ピボットテーブルを作成
* plot　グラフで表示
* prod、product　積を返す
* reindex　指定されたインデックスのものを返す
* resample　時系列データの再サンプリング
* sort_values　ソート
* std　標準偏差
* sum　合計
* tail　最後
* to_csv　csv保存
* to_dict　辞書に変換
* values　データを表す属性（NumPyの配列型に変換）
* var　分散

#### 属性とメソッド（シリーズデータ）

~~* 列名~~
* []　Numpyに準じる
* 演算　シリーズ同士の演算
~~* T　転置したものを返す~~
* abs　絶対値を返す
* append　他のデータフレームとつなげる
* apply　各列ごとに関数を適用
* **NEW**argmax(argmin）最大・最小の要素のインデックスを返す; idxmax(min)同様
* **NEW**argsort ソート結果のインデックスを返す
~~* boxplot　箱ひげ図~~
~~* columns 列~~
* copy　複製
* corr　**相関係数を返す**
* count　要素数
* cov　共分散
* describe　サマリー
* **NEW**　dot　内積
* drop　指定されたものを削除
* dropna　nanが含まれる**行**を削除
* dtype**~~s~~**　型を返す
* fillna　欠損値をしてした値で埋める
* groupby　指定された列でグループする
* head　先頭表示
* hist　ヒストグラムを表示
* index　インデックス
* insert　**列**を追加する
~~* irow　行を返す~~
~~* iteritems　列のジェネレーター~~
~~* iterrows　行のジェネレーター~~
~~* ix　行や列で指定したものを取得や設定~~
~~* join　列を追加したものを返す~~
* max(min)　最大最小値を返す
* mean　平均を返す
* median　メディアンを返す
* **NEW**　nunique 重複していない値の数を返す
~~* pivot　ピボットテーブルを作成~~
* plot　グラフで表示
* prod、product　積を返す
* reindex　指定されたインデックスのものを返す
* resample　時系列データの再サンプリング
* round　丸めて返す
* sort_values　ソート
* std　標準偏差
* sum　合計
* tail　最後
* to_csv　csv保存
* to_dict　辞書に変換
* unique　ユニークな値を返す
* value_cunts　値をインデックスにした度数を返す
* values　データを表す属性（NumPyの配列型に変換）
* var　分散

#### ファイルの入出力

※何度も読み込むのであれば、pickleが効率良い

* d = pd.read_csv(ファイル名, encoding = 'cp932')
* d.to_csv(ファイル名, encoding = 'cp932')

* d = pd.read_excel(ファイル名, encoding = 'cp932')
* d.to_excel(ファイル名)

* d = pd.read_pickle(ファイル名)
* d.to_pickle(ファイル名)

#### データ参照

In [80]:
d = pd.DataFrame(np.random.randint(1,6,(4,3)),
                index = ['x1', 'x2', 'x3', 'x4'],
                columns = ['y1', 'y2', 'y3']) #columns = ['列1', '列2', '列3'])
print(d)
#先頭２行
d.head(2)
d[:2]
d['x1':'x2']

#先頭１列
d.y１
d['y1']

#複数列を飛んで選ぶ
d[['y1', 'y3']] #error with d[[0,2]] 
d.iloc[:,[0,2]]

#行を選ぶ
d.iloc[0] #print('d.iloc[0]: \n', d.iloc[0])
d.iloc[0,:] #print('d.iloc[0,:]: \n', d.iloc[0,:])

#d.ix[1000]  AttributeError: 'DataFrame' object has no attribute 'ix' 新pandasでなくなった

    y1  y2  y3
x1   3   5   4
x2   2   3   3
x3   3   3   4
x4   1   5   4

y1    3
y2    5
y3    4
Name: x1, dtype: int64

#### 条件による抽出

In [75]:
d[d['y1']<3]
d[d.y1<3]

    y1  y2  y3
x1   2   1   3
x2   2   3   3
x3   2   2   3
x4   1   1   3

In [76]:
d[(d.y1<3) & (d.y2<3)]

    y1  y2  y3
x1   2   1   3
x3   2   2   3
x4   1   1   3

In [77]:
# Or: |
d[(d.y1<3) | (d.y2<3)]

    y1  y2  y3
x1   2   1   3
x2   2   3   3
x3   2   2   3
x4   1   1   3

In [82]:
# Not: ~
d[~(d.y1<3)]

    y1  y2  y3
x1   3   5   4
x3   3   3   4

#### 条件による抽出(Query使用)

In [91]:
d.query('y1<3')
n = 3
d.query('y1<@n') #変数を使う際は@をつける
d.query('y1<3 & y2 <4')
d.query('y1<3 | y2 <4')
d.query('~(y1<3)')

    y1  y2  y3
x1   3   5   4
x3   3   3   4

#### Where & Mask

In [95]:
d_w = d.where(d.y1<3)
print(d_w)
d_m = d.mask(d.y1<3)
print(d_m)

     y1   y2   y3
x1  NaN  NaN  NaN
x2  2.0  3.0  3.0
x3  NaN  NaN  NaN
x4  1.0  5.0  4.0
     y1   y2   y3
x1  3.0  5.0  4.0
x2  NaN  NaN  NaN
x3  3.0  3.0  4.0
x4  NaN  NaN  NaN

In [100]:
#NaNを値を指定
d_w = d.where(d.y1<3, -d*10)
print(d_w)
d_m = d.mask(d.y1<3, 'orz')
print(d_m)

    y1  y2  y3
x1 -30 -50 -40
x2   2   3   3
x3 -30 -30 -40
x4   1   5   4
     y1   y2   y3
x1    3    5    4
x2  orz  orz  orz
x3    3    3    4
x4  orz  orz  orz

In [106]:
print(d)
print('y1が3以下（３含まない）の場合、そのまま；３以上なら、y2の値を入れる')
d.y1.where(d.y1<3, d.y2)

    y1  y2  y3
x1   3   5   4
x2   2   3   3
x3   3   3   4
x4   1   5   4
y1が3以下（３含まない）の場合、そのまま；３以上なら、y2の値を入れる

x1    5
x2    2
x3    3
x4    1
Name: y1, dtype: int64

#### 列の追加・連結・結合

TypeError: assign() takes 1 positional argument but 3 were given
    
y4 = [6,6,6,6]
y5 = [1,1,1,1]
d.assign(y4,y5)

#### d.assign()　で列を追加したDataFrameを新たに作成、もとのDFは変更されない

In [115]:
#d.assign(y4 = [6,6,6,6] ,y5 = [1,1,1,1]) 
#d.assign(y4 = [6,6,6,6] ,y5 = [1,1,1,2]) #上書きもできる
print(d.assign(y4 = [6,6,6,6] ,y5 = [1,1,1,2]))
print(d)

    y1  y2  y3  y4  y5
x1   3   5   4   6   1
x2   2   3   3   6   1
x3   3   3   4   6   1
x4   1   5   4   6   2
    y1  y2  y3
x1   3   5   4
x2   2   3   3
x3   3   3   4
x4   1   5   4

In [120]:
#もとのDFに追加する場合：
d['y4'] = [6,6,6,6]
print(d)
d['y4'] = [6,6,6,7]
print(d)

    y1  y2  y3  y4
x1   3   5   4   6
x2   2   3   3   6
x3   3   3   4   6
x4   1   5   4   6
    y1  y2  y3  y4
x1   3   5   4   6
x2   2   3   3   6
x3   3   3   4   6
x4   1   5   4   7

In [135]:
pd.concat([d[:1],d[-1:]])
pd.concat([d[:],d[-1:]])
pd.concat([d[:],d[-2:]])

    y1  y2  y3  y4
x1   3   5   4   6
x2   2   3   3   6
x3   3   3   4   6
x4   1   5   4   7
x3   3   3   4   6
x4   1   5   4   7

In [137]:
print('同じIndexでもエラーにならない')
d[1:].append(d[-1:])
d[-1:].append(d[-2:])

同じIndexでもエラーにならない

    y1  y2  y3  y4
x4   1   5   4   7
x3   3   3   4   6
x4   1   5   4   7

In [141]:
print('verify_integrity = True にすると、同じIndexだとエラーになる')
# d[-1:].append(d[-2:], verify_integrity = True) #ValueError: Indexes have overlapping values: Index(['x4'], dtype='object')

Verify_integrity = True にすると、同じIndexだとエラーになる

In [144]:
print('ignore_index = True にすると、indexが振り直される')
d[-1:].append(d[-2:], ignore_index = True )

ignore_index = True にすると、indexが振り直される

   y1  y2  y3  y4
0   1   5   4   7
1   3   3   4   6
2   1   5   4   7

In [150]:
d[-1:].append(d[-2:], verify_integrity = True, ignore_index = True)

   y1  y2  y3  y4
0   1   5   4   7
1   3   3   4   6
2   1   5   4   7

In [160]:
print('列の結合：axis=1')
pd.concat([d.iloc[:,[0]], d.iloc[:,[-1,-2]]],axis = 1)

列の結合：axis=1

    y1  y4  y3
x1   3   6   4
x2   2   6   3
x3   3   6   4
x4   1   7   4

In [167]:
print(d.iloc[:,[-1]])
print(d.iloc[:,[-1]].reindex(['x1']))
print(d.iloc[:,[-1]].reindex(['x0']))
print(d.iloc[:,[-1]].reindex(['x1','x0']))

print(d)

    y4
x1   6
x2   6
x3   6
x4   7
    y4
x1   6
    y4
x0 NaN
     y4
x1  6.0
x0  NaN
    y1  y2  y3  y4
x1   3   5   4   6
x2   2   3   3   6
x3   3   3   4   6
x4   1   5   4   7

In [168]:
print('reindexで追加したものや消されたものはNaNになる')
pd.concat([d.iloc[:,[0]], d.iloc[:,[-1]].reindex(['x1','x0'])],axis = 1)

reindexで追加したものや消されたものはNaNになる

     y1   y4
x1  3.0  6.0
x2  2.0  NaN
x3  3.0  NaN
x4  1.0  NaN
x0  NaN  NaN

In [171]:
print('join = ''inner''を指定すると、NaNは連結されない')
pd.concat([d.iloc[:,[0]], d.iloc[:,[-1]].reindex(['x1','x0'])],axis = 1, join = 'inner')

join = innerを指定すると、NaNは連結されない

    y1   y4
x1   3  6.0

In [178]:
print('join_axesにindexを指定すると、その範囲だけ連結される')
print('ただし、最新のPandasでは、join_axesがなくなったみたい')
#pd.concat([d.iloc[:,[0]], d.iloc[:,[-1]].reindex(['x1','x0'])],axis = 1, join_axes = [d.index])

join_axesにindexを指定すると、その範囲だけ連結される
ただし、最新のPandasでは、join_axesがなくなったみたい

#### 追記：　pd.concat（）
* 複数のDataFrameまたはSeriesを連結する。

pd.concat([df1, df2, series1 ...], 
          axis=連結する方向, (0 / 1)
          sort=並び替えの実施有無, (True / False)
          join=連結方法, (outer/inner)
          ignore_index=連結したIndexの破棄の実施有無, (True / False)
          keys=MultiIndexに新たに追加する値のリスト,
          levels=MultiIndexに新たに追加する値のlevels,
          verify_integrity=連結したIndexの値の重複チェックの実施有無)

* 引数のaxisは、連結方向を指定します。
  * axis=0とすると、列のIndex値に基づき列をマージし、行を連結をします。
  * axis=1とすると、行のIndex値に基づき行をマージし、列を連結をします。

* 引数のsortは、連結した行名/列名の並び替えの実施有無を設定します。

* 引数のjoinは、連結方法を設定します。
  * joinにouterを指定すると、連結するDataFrameいずれかに存在するIndex値のみ残して連結させます。
  * joinにinnerを指定すると、連結するDataFrame全てに存在するIndex値のみ残して連結させます。

* 引数のignore_indexは、連結したIndex値の破棄の実施有無を設定します。
  * ignore_indexをTrueにすると、連結した元のIndexを破棄して、RangeIndexに置換します。

* 引数のkeysを設定すると、連結した行/列のIndexをkeysの値を元にMultiIndexとします。
* 引数にlevelsを設定すると、keysを用いて生成したMultiIndexのlevelsを設定できます。

* 引数のverify_integrityをTrueにすると、連結したIndexの値に重複がないかチェックを行います。

## merge & join　ー　同じキー同士で結合する

* merge はキーを指定できる
* join　はキーを指定せずにindexを使う

In [183]:
print(d)
print(d.iloc[:3, :2]) #第３行まで、第２列まで
print(d.iloc[1:,1:])#第１行から、第１列から

    y1  y2  y3  y4
x1   3   5   4   6
x2   2   3   3   6
x3   3   3   4   6
x4   1   5   4   7
    y1  y2
x1   3   5
x2   2   3
x3   3   3
    y2  y3  y4
x2   3   3   6
x3   3   4   6
x4   5   4   7

In [184]:
pd.concat([d.iloc[:3, :2], d.iloc[1:,1:]], ignore_index = False)

     y1  y2   y3   y4
x1  3.0   5  NaN  NaN
x2  2.0   3  NaN  NaN
x3  3.0   3  NaN  NaN
x2  NaN   3  3.0  6.0
x3  NaN   3  4.0  6.0
x4  NaN   5  4.0  7.0

In [185]:
print('concatの場合')
pd.concat([d.iloc[:3, :2], d.iloc[1:,1:]], ignore_index = True)

    y1  y2   y3   y4
0  3.0   5  NaN  NaN
1  2.0   3  NaN  NaN
2  3.0   3  NaN  NaN
3  NaN   3  3.0  6.0
4  NaN   3  4.0  6.0
5  NaN   5  4.0  7.0

In [192]:
print('mergeの場合')
print('２つの行列は[]で囲まなくても良い')
print('on=''y2''でy2をキーにして、連結する；３が重複しているため、複製される')
pd.merge(d.iloc[:3, :2], d.iloc[1:,1:], on = 'y2')

mergeの場合
２つの行列は[]で囲まなくても良い
on=y2でy2をキーにして、連結する；３が重複しているため、複製される

   y1  y2  y3  y4
0   3   5   4   7
1   2   3   3   6
2   2   3   4   6
3   3   3   3   6
4   3   3   4   6

In [202]:
print('on=''y3''だとキーエラーになる')
# pd.merge(d.iloc[:3, :2], d.iloc[1:,1:], on = 'y3')

pd.merge(d.iloc[:3, :3], d.iloc[1:,1:], on = 'y3', how = 'outer')

on=y3だとキーエラーになる

   y1  y2_x  y3  y2_y  y4
0   3     5   4     3   6
1   3     5   4     5   7
2   3     3   4     3   6
3   3     3   4     5   7
4   2     3   3     3   6

#### 追記： mergeの結合方法
howで指定できる
* inner : 内部結合。既定。両方含まれるキーのみ残す
* left  : 左部結合。最初のデータのキーをすべて残す
* right : 右部結合。２つ目のデータのキーをすべて残す
* outer : 完全外部結合。すべてのキー残す

## 欠損値処理

In [210]:
#数値１をNaN非数値に変更せよ
d[d==1] = np.nan
d

     y1  y2  y3  y4
x1  3.0   5   4   6
x2  2.0   3   3   6
x3  3.0   3   4   6
x4  NaN   5   4   7

In [214]:
d.shape[0]
d.shape[0] - d.count() #列ごとの欠損値をカウント

y1    1
y2    0
y3    0
y4    0
dtype: int64

In [216]:
d.shape[0]
d.shape[0] - d.count(axis = 1) #行ごとの欠損値をカウント

x1    0
x2    0
x3    0
x4    1
dtype: int64

In [221]:
e_ = d.isnull
e = d.isnull()
e, e_

(       y1     y2     y3     y4
 x1  False  False  False  False
 x2  False  False  False  False
 x3  False  False  False  False
 x4   True  False  False  False,
 <bound method DataFrame.isnull of      y1  y2  y3  y4
 x1  3.0   5   4   6
 x2  2.0   3   3   6
 x3  3.0   3   4   6
 x4  NaN   5   4   7>)

In [225]:
e.sum(), e.sum(axis = 1)

(y1    1
 y2    0
 y3    0
 y4    0
 dtype: int64,
 x1    0
 x2    0
 x3    0
 x4    1
 dtype: int64)

In [233]:
e['num'] = 1  #要素が１のダミーを用意する
e.groupby(d.columns.tolist()).sum() #groupbyで集計

1. num でダミを用意
2. groupbyで集計
3. tolistで型変換　Index →　List

                         num
y1    y2    y3    y4
False False False False    3
True  False False False    1

In [252]:
print('1. num でダミを用意')
e['num'] = 1 
e

1. num でダミを用意

       y1     y2     y3     y4  num
x1  False  False  False  False    1
x2  False  False  False  False    1
x3  False  False  False  False    1
x4   True  False  False  False    1

In [253]:
print('2. groupbyで集計')
print('3. tolistで型変換　Index →　List')
d.columns
l_tmp = d.columns.tolist()
print(l_tmp)
g_tmp = e.groupby(l_tmp)
print(g_tmp)
s_tmp = g_tmp.sum()
print(s_tmp)
print(type(s_tmp))
print('*****')
print(s_tmp.num)

2. groupbyで集計
3. tolistで型変換　Index →　List
['y1', 'y2', 'y3', 'y4']
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fea2859d550>
                         num
y1    y2    y3    y4
False False False False    3
True  False False False    1
<class 'pandas.core.frame.DataFrame'>
*****
y1     y2     y3     y4
False  False  False  False    3
True   False  False  False    1
Name: num, dtype: int64

## 欠損値の処理方法
* dropna: 欠損値の含まれる**行**を**削除**する。axis=1で指定すると、欠損値が含まれる列を削除
* fillna: 欠損値を**埋める**。

**どちらも新たにオブジェクトを作成される。元のDFを書き換える場合：　inplace=True**

In [258]:
print('欠損値のあるデータもう一度確認しよう')
print(d)

print('欠損値の行削除')
print(d.dropna())

print('欠損値の列削除')
print(d.dropna(axis=1))

print('欠損値の穴埋め: 0代入')
print(d.fillna(0))

print('欠損値の穴埋め: 平均値代入(列の平均？)')
print(d.fillna(d.mean()))

欠損値のあるデータもう一度確認しよう
     y1  y2  y3  y4
x1  3.0   5   4   6
x2  2.0   3   3   6
x3  3.0   3   4   6
x4  NaN   5   4   7
欠損値の行削除
     y1  y2  y3  y4
x1  3.0   5   4   6
x2  2.0   3   3   6
x3  3.0   3   4   6
欠損値の列削除
    y2  y3  y4
x1   5   4   6
x2   3   3   6
x3   3   4   6
x4   5   4   7
欠損値の穴埋め: 0代入
     y1  y2  y3  y4
x1  3.0   5   4   6
x2  2.0   3   3   6
x3  3.0   3   4   6
x4  0.0   5   4   7
欠損値の穴埋め: 平均値代入(列の平均？)
          y1  y2  y3  y4
x1  3.000000   5   4   6
x2  2.000000   3   3   6
x3  3.000000   3   4   6
x4  2.666667   5   4   7

## その他の機能

#### unique

In [261]:
print(d.y2)
print(d.y2.unique())

x1    5
x2    3
x3    3
x4    5
Name: y2, dtype: int64
[5 3]

#### value_counts：回数カウント

In [264]:
d.y2.value_counts() # 3-2times, 5-2 times

3    2
5    2
Name: y2, dtype: int64

#### sort_values：ソート

In [266]:
print(d.y2)
print(d.y2.sort_values())

x1    5
x2    3
x3    3
x4    5
Name: y2, dtype: int64
x2    3
x3    3
x1    5
x4    5
Name: y2, dtype: int64

In [270]:
print(d.sort_values('y1'))

     y1  y2  y3  y4
x2  2.0   3   3   6
x1  3.0   5   4   6
x3  3.0   3   4   6
x4  NaN   5   4   7

In [275]:
print(d.sort_values(['y1','y2']))

     y1  y2  y3  y4
x2  2.0   3   3   6
x3  3.0   3   4   6
x1  3.0   5   4   6
x4  NaN   5   4   7

#### sort_index：インデックスソート

In [278]:
d.sort_index()

     y1  y2  y3  y4
x1  3.0   5   4   6
x2  2.0   3   3   6
x3  3.0   3   4   6
x4  NaN   5   4   7

#### 順序リストでソート
pd.Categoricalを使うことができる。第2引数に順序リストを指定して、Seriesを作り直して、sort_valuesを呼ぶ

In [282]:
e = pd.DataFrame({'week': ['Thu', 'Mon', 'Fri', 'Sun']}) #本では、'week'；　正しくは　'week':
e.sort_values('week')

  week
2  Fri
1  Mon
3  Sun
0  Thu

In [284]:
e.week = pd.Categorical(e.week, ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']) # e.week のための専用順序リスト
e.sort_values('week')

  week
3  Sun
1  Mon
0  Thu
2  Fri

#### drop_duplicates - 重複を削除

In [290]:
print(d)

print(d.drop_duplicates(subset = 'y2')) #y2の値について、x1とx4が同じ、x4が削除された。x2とx3が同じで、x3が削除された。

     y1  y2  y3  y4
x1  3.0   5   4   6
x2  2.0   3   3   6
x3  3.0   3   4   6
x4  NaN   5   4   7
     y1  y2  y3  y4
x1  3.0   5   4   6
x2  2.0   3   3   6

#### 重複があった場合、残るのは：
 * default: 最初の要素。上記の例を参照
 * keep = 'last' で最後の要素をキープすることも可能
 * inplace = True で元データを上書きすることは可能

In [294]:
print(d.drop_duplicates(subset = 'y2', keep = 'last')) 

d2=d
print(d2.drop_duplicates(subset = 'y2', keep = 'last', inplace = True)) 
print(d2)

     y1  y2  y3  y4
x3  3.0   3   4   6
x4  NaN   5   4   7
None
     y1  y2  y3  y4
x3  3.0   3   4   6
x4  NaN   5   4   7

## 型変換

* **型確認：　dtypes for DataFrame; dtype for Series data**
* **型変換：　apply(**type**)　や　astype(**type**)で**

In [302]:
print(d.y3.dtype)
print(d.y3.apply(float).dtype)
print(d.y3.astype(int).dtype)

print('質問：float32などビット指示はどうする？？？')

int64
float64
int64
質問：float32などビット指示はどうする？？？

* **to_datetime で文字列から時刻に**
* **to_numeric で文字列から数字に**

In [316]:
print(pd.Series(['2020/1/1']))
print(pd.to_datetime(pd.Series(['2020/1/1'])))
print(pd.to_numeric(pd.Series(['2020.1'])))

0    2020/1/1
dtype: object
0   2020-01-01
dtype: datetime64[ns]
0    2020.1
dtype: float64

#### pipe

関数f(x, ...)のxがPandasデータの場合、x.pipe(f,...)と書き換えて、処理を一行に繋げられる

In [320]:
print(pd.to_numeric(pd.Series(['2020'])))

print(pd.Series(['2020']).pipe(pd.to_numeric))

0    2020
dtype: int64
0    2020
dtype: int64