# アクセサ
アクセサとは、オブジェクト指向プログラミング用語で、メンバ変数にアクセスできるように用意されたメソッドであり、メンバ変数のように利用できる。

* 文字列アクセサ
* 時刻アクセサ
* スタイルアクセサ

In [32]:
import pandas as pd
from pandas import DataFrame as DF

#### 文字列アクセサ

#### str.extract で文字列処理

In [24]:
d = pd.DataFrame(['test1@me.com','test2@your.com'], columns = ['email'])

d

            email
0    test1@me.com
1  test2@your.com

In [27]:
d.email.str.extract(r'@(.*)\.',expand = True)

# r: ???
# \. 省略という意味？？

      0
0    me
1  your

In [28]:
d.email.str.extract(r'@(.*)\.',expand = False)

0      me
1    your
Name: email, dtype: object

#### get_dummiesで分割後の全列の文字列集合を新たな列として、対応関係を０−１で求める

In [39]:
d = DF(['a|b|c', 'a|x|y'], columns=['elem'])
d

    elem
0  a|b|c
1  a|x|y

In [40]:
d.elem.str.get_dummies()

   a  b  c  x  y
0  1  1  1  0  0
1  1  0  0  1  1

#### findall　で正規表現でマッチする文字列を取り出してリストにする

In [35]:
d = DF(['abcac', 'axy'], columns=['name'])
d

    name
0  abcac
1    axy

In [36]:
d.name.str.findall('a.')

0    [ab, ac]
1        [ax]
Name: name, dtype: object

#### partition　で対象と前後として、新たに3列を追加

In [41]:
d = DF(['123-456', '0-9'], columns=['name'])
d

      name
0  123-456
1      0-9

In [46]:
d.name.str.partition('-')

#d.name.partition('-')
#AttributeError: 'Series' object has no attribute 'partition'

     0  1    2
0  123  -  456
1    0  -    9

#### upper で大文字に変換

In [61]:
d = DF(['Alice', 'Bob', '25'], columns=['name'])
d

    name
0  Alice
1    Bob
2     25

In [59]:
d.name.str.upper()
d.name.str.lower()

0    alice
1      bob
2      25?
Name: name, dtype: object

In [63]:
d.name.str.isalnum()

0    True
1    True
2    True
Name: name, dtype: bool

In [65]:
d.name.str.isdigit()

0    False
1    False
2     True
Name: name, dtype: bool

In [67]:
d.name.str.isnumeric()

0    False
1    False
2     True
Name: name, dtype: bool

In [77]:
d.name.str.ljust(width = 0) #TypeError: ljust() missing 1 required positional argument: 'width'

0    Alice
1      Bob
2       25
Name: name, dtype: object

#### 追記：　strのメソッド

略　表7.5